figure{
  border: 1px solid black;
  float:right;
}
.liz{
  font-family: bold;
}
figcaption{
  width:600;
}
body{
  font-family: Times;
  Background-color:#E8D3AB;
}
a:link{
    text-decoration: none;
    color:#C1E862;
}

a:hover{
    color:#E89414;
}

a:visited{
    color:#FF8C23;
}
